/* 01-07 */
.fukidashi-01-07 {
  position: relative;
  width: fit-content;
  padding: 12px 16px;
  border: 2px solid #333333;
}
.fukidashi-01-07::after {
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  width: 30px;
  height: 2px;
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff; /* 背景色と同じ色を指定 */
  rotate: 50deg;
}