/* 01-11 */
.fukidashi-01-11 {
  position: relative;
  display: grid;
  place-items: center;
  width: 120px;
  height: 120px;
  border: 2px solid #333333;
  border-radius: 50%;
}
.fukidashi-01-11::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 68px;
  width: 26px;
  height: 2px;
  transform: rotate(50deg);
  box-sizing: border-box;
  background-color: #333333;
  box-shadow: 0 2px 0 #ffffff, 0 -2px 0 #ffffff; /* 背景色と同じ色を指定 */
}
.fukidashi-01-11 > .text {
  position: absolute;
  z-index: 3;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
}
.fukidashi-01-11 > .ornament {
  position: absolute;
  top: -30%;
  left: -25%;
  z-index: 1;
  display: grid;
  place-items: center;
  width: 60%;
  height: 60%;
  font-size: 16px;
  border: 2px solid #333333;
  border-radius: 50%;
  background-color: #ffffff;
}
.fukidashi-01-11 > .ornament::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 70px;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
  box-sizing: border-box;
  background-color: #ffffff;
}