/* 02-01 */
.fukidashi-02-01 {
  position: relative;
  width: fit-content;
  padding: 12px 20px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #333333;
}
.fukidashi-02-01::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: -1;
  width: 20px;
  height: 12px;
  transform: translateX(-50%);
  box-sizing: border-box;
  background-color: #333333;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}